*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background-color: #e6e6e6;
}

p{
    margin-top: 10px;
    text-align: justify;
    font-size: 14px;
    margin-bottom: 10px;

}
h2, h3{
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
h3{
    margin-top: 20px;
    font-size: 30px;
}

/* Header (cabeçalho) */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 4%;
    border-bottom: 10px rgb(33, 235, 33) groove;
    background-color: #ffff;
}
header a:hover{
    color: #ffff;
    transform: scale(1.05);
}
header .btnsalvar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(0, 183, 255);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
header .btnsalvar button:hover{
    box-shadow: 0px 0px 8px rgb(0, 183, 255);
}


/* Main */
.box{
    background-color: #ffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 50%; 
    font-size: 14px;
    box-shadow: 0px 0px 8px rgb(182, 182, 182);
}
.box-ar{
    background-color: #ffff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 50%; 
    font-size: 14px;
    box-shadow: 0px 0px 8px rgb(182, 182, 182);
}

/* formulario */
.container{
    display: flex;  
    border-bottom: 10px rgb(33, 205, 235) groove;  
    padding: 50px 0px 50px 0px;   
}
.form-group{
    padding-top: 15px;
}
select, #data{
    margin-top:10px;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    border: none;
    width: 100%;
    background-color: #e6e6e6;
    box-shadow: 0px 0px 5px #e6e6e6;
}

/* qualidade do ar */
.qualidade-ar-status{
    background-color: #218109;
    color: #ffff;
    border-radius: 30px;
}
.indicadores{
    background-color: #e6e6e6;
    border-radius: 20px;
    margin: 10px;
    padding: 5px 2%;
    flex-flow: row wrap;
    display: inline-block;
    align-items: start;
    width: 100px;
    box-shadow: 0px 0px 5px #e6e6e6;
}
.componentes p{
    padding-top: 10px;
}

/* frase */
.info{
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 10px rgb(33, 205, 235) groove;  

}

/* rodapé */
footer{
    background-color: #218109;
    border-top: 10px rgb(33, 235, 33) groove;
    padding: 10px 4%;
    color: #ffff;
}
footer h2{
    font-size: 20px;
    text-align: start;
}

#tabela-container {
    padding: 15px;
    max-width: 100%;
    overflow-x: auto;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tabela-previsao {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
}

#tabela-previsao thead {
    background-color: #ffff;
    color: black;
}

#tabela-previsao th, #tabela-previsao td {
    padding: 12px 15px;
    text-align: center;
}

#tabela-previsao th {
    font-size: 1.1em;
    font-weight: bold;
}

#tabela-previsao tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

#tabela-previsao tbody tr:hover {
    background-color: #e0e0e0;
}

#tabela-previsao td {
    font-size: 1em;
    color: #000000;
}

#tabela-previsao td:first-child {
    font-weight: bold;
}

#tabela-previsao td:last-child {
    font-weight: bold;
    color: #000000;
}


